$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$menusize: 300px;
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  position: relative;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

// Override default bootstrap grid
.container-fluid, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-tet {
  border: 2px solid #fff;
  color: #fff;
  width: 237px;
  font-size: 18px;
  height: 50px;
  padding: 12px;
  &:hover, &:focus {
    color: #ffe096;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,250,194,.8);
    background: #f50008;
    border-color: #f50008;
    transition: all 0.5s ease;
  }
}

h2 {
  font-size: 36px;
}

#mobile-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 20;
  background: #212121;
  .icon-bar {
    background-color: #ffe096;
  }
}

#mainmenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $menusize;
  z-index: 20;
  overflow: hidden;
  background: #222222 url(../images/menubg.jpg) 0 0 no-repeat;
  background-size: 100%;
  text-align: center;
  .btn-holder {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  .btntai {
    width: 246px;
    height: 57px;
    text-indent: -9999em;
    display: block;
    margin: 0 auto 10px;
  }
  .btn-apk {
    background: url(../images/btn-apk.png);
    &:hover {
      background: url(../images/btn-apk-active.png);
    }
  }
  .btn-gpl {
    background: url(../images/btn-gplay.png);
    &:hover {
      background: url(../images/btn-gplay-active.png);
    }
  }
  .btn-ast {
    background: url(../images/btn-astore.png);
    &:hover {
      background: url(../images/btn-astore-active.png);
    }
  }
  .icon-holder {
    display: flex;
    justify-content: center;
  }
  .navicon {
    height: 64px;
    width: 64px;
    text-indent: -9999em;
  }
  .navicon-home {
    background: url(../images/icon-home-active.png);
  }
  .navicon-fb {
    background: url(../images/icon-fb.png);
    &:hover {
      background: url(../images/icon-fb-active.png);
    }
  }
  .closebtn{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    text-indent: -9999em;
    background: url(../images/btn-close.png) 0 0 no-repeat;
  }
}

#menu {
  ul {
    margin: 0;
    padding: 0;
    li, a {
      height: 55px;
      display: block;
      line-height: 55px;
      padding: 0;
    }
    a {
      color: #ffe096;
      &:hover {
        text-decoration: none;
        background: url(../images/menuactive.png) no-repeat center;
      }
      &:focus {
        background: transparent;
      }
    }
    li.active a {
      text-decoration: none;
      background: url(../images/menuactive.png) no-repeat center;
    }
  }
}

#logo {
  padding: 10px 0;
  margin: 0;
}

@media screen and ( min-height: 700px) {
  #logo {
    padding: 46px 0;
  }
}

#maincontent {
  position: relative;
  z-index: 10;
  margin-left: $menusize;
  // For scaling content
  transform-origin: 0 0;
  min-height: 700px;
  background: #f50008 url(../images/pcbg.jpg) 50% 0 no-repeat;
  width: 1280px;
  height: 5753px;
  overflow: hidden;
}

#home {
  .title {
    display: block;
    margin: 126px 0 35px;
  }
  .icon {
    display: block;
    margin: 29px auto 0;
  }
  .chars {
    margin-top: 111px;
  }
  .char-icons {
    text-align: center;
    margin-top: 10px;
    img {
      margin: 0 2px;
    }
  }
}

#quatang {
  margin-top: 165px;
  > div {
    text-align: center;
  }
  .btn {
    margin-top: 22px;
  }
}

#xuantriki {
  font-size: 18px;
  text-align: center;
  padding-bottom: 60px;
  .title {
    display: block;
    margin: 150px auto 29px;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 25px;
  }
  .img-holder {
    position: relative;
    margin-bottom: 20px;
    img {
      display: block;
    }
    .btn {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .xuan-holder {
    display: flex;
    justify-content: space-between;
  }
  .xuan-column {
    width: 327px;
  }
}

#sukien {
  padding-bottom: 181px;
  h2 {
    margin: 55px 0 30px;
  }
  .sukien {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;

    }
    &:hover,&:focus{
     img{
       box-shadow: inset 0 5px 5px rgba(0,0,0,.075), 0 0 8px rgba(255,250,194,.8);
     }
    }
  }
  .sukien-content {
    position: absolute;
    bottom: 10px;
    left: 30px;
    right: 30px;
    cursor: pointer;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }
}

#hoso {
  padding-bottom: 295px;
  h2 {
    margin: 55px 0 40px 0;
  }
  h3, .btn-container, .note {
    text-align: center;
  }
  h3 {
    font-size: 22px;
  }
  .btn-container {
    margin: 58px 0 45px;
    .btn {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .note {
    font-size: 18px;
    width: 610px;
    margin: 0 auto;
  }
}

#thele {
  h2 {
    margin: 55px 0 40px 0;
  }
  .content {
    height: 510px;
    overflow: auto;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    max-width: none;
  }
}

// Tablet and below
@media screen and (max-width: 1024px) {
  body{
    margin-top: 50px;
  }
  .navbar-toggle{
    display: block;
  }
  #mobile-bar{
    display: block;
  }
  #mobile-logo {
    margin: 0;
    padding: 2px 0;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    img {
      width: 120px;
    }
  }
  #mainmenu {
    transform: translate3d(-100%, 0, 0);
    transition: all .5s;
    width: 50%;
    .closebtn{
      display: block;
    }
  }
  #maincontent {
    margin-left: 0;
    width: auto;
    height: auto;
    // background-image: url(../images/mobilebg.jpg);
    // background-size: 100%;
    background-size: cover;
    img {
      width: 100%;
    }
  }
  .btn {
    margin-bottom: 20px;
    max-width: 100%;
  }
  // Set image size for icon
  #home .icon, #home .char-icons img {
    width: auto;
  }
  section {
    padding: 0 10px 0 !important;
    h2 {
      margin: 55px 0 30px !important;
      // font-size: 28px;
    }
  }
  // Tweaks
  #home {
    .title, .chars {
      margin-top: 30px;
    }
  }
  #quatang {
    margin-top: 50px;
  }
  #xuantriki {
    .title {
      margin-top: 55px;
    }
    .xuan-column {
      width: 230px;
    }
  }
  #sukien {
    .sukien:nth-child(2) {
      height: 264px;
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10px;
      margin-right: 10px;
      border-right: 2px solid #f6f1bb;
      border-left: 2px solid #f6f1bb;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        width: auto;
        height: 100%;
      }
    }
    h3 {
      // font-size: 20px;
    }
  }
  #hoso {
    .btn-container {
      margin: 30px 0 15px;
    }
    h3 {
      // font-size: 20px;
    }
    .note {
      width: auto;
    }
  }
  #thele {
    .content {
      height: auto;
    }
  }
  #footer {
    position: relative;
    padding: 50px 10px 0;
    transform: none;
    left: 0;
  }
}

//Ho so cua tui
.detail-content {
  position: relative;
  z-index: 10;
  margin-left: $menusize;
  // For scaling content
  transform-origin: 0 0;
  background: #f50008 url(../images/hoso-bg.png) 50% 0 no-repeat;
  width: 1280px;
  min-height: 80vh;
  overflow: hidden;
  h2{font-size: 24px !important; color: #fffac2}
  .btn-tet{margin: 20px }
}
#home .detail_chars{
  margin-top:  10px;
}
.hosocuatui{
  #hoso{
    h2{margin: 10px 0 10px}
    h2,p,i, table tr td,a{color: #fffac2}
    a{border-bottom: 1px dashed #fffac2}
  }
  .borderless td, .borderless th {
    border: none;
  }
  .editable-submit, .editable-cancel{background: none !important; border: none !important;}
  .editable-input input{
    background: transparent;
    color: #FFF;
    border: none;
    outline-color: transparent;
    font-size: 16px;
  }
  .form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
  }
  .btn-primary.focus, .btn-primary:focus{border-color: #fffac2}
}

//Xuân lên đỉnh

//xuân may mắn hái lọc
#xuanmayman-hailoc{
  margin-bottom: 50px;
  h1{
    font-size: 36px;
    color: #fffac2;
  }
}
#modal-hailoc{margin-top: 15%}
#xuanmayman-lixi{
  margin-bottom: 50px;
  h1{font-size: 36px; color: #fffac2}
  h3{font-size: 18px; color: #fffac2}
}
  .your-hero{
    background: rgba(0,0,0,0.5);
    border: 2px solid #fffac2;
    padding: 10px 10px 10px;
    overflow: hidden;
    margin: 15px 0;
    h4{color: #fffac2; font-weight: 700; text-align: center}
  }
  .bangxephang{
    table{
      .head-tbl{border-bottom: 1px solid #fffac2}
      tr{
        th, td{
          color: #fffac2;
          text-align: center;
        }
      }
    }
  }


//xuan tốc độ

.date-tocdo{
    margin: 45px 0 ;
    h4{font-weight: 700; color: #fffac2; margin: 5px 0}
  .hom-truoc, .hom-sau{
    cursor: pointer;
  }
}

//Sự kiện in game detail

.modal-dialog{width: 960px}
.modal-content{
  background-color: rgba(0,0,0,0.8);
  border-radius: 0;
  border-color: #f6f1bb;
  .modal-header{
    border-bottom: none;
    h4{
      color: #f6f1bb;
      font-size: 22px;
      text-transform: uppercase;
    }
    button.close{
      width: 36px;
      height: 36px;
      background: url('../images/close-btn.png') 0 0 no-repeat;
      margin-top: -32px;
      margin-right: -32px;
      z-index: 1000;
      opacity: 1;
    }

  }
  .modal-body{
    max-height: 680px;
    overflow: auto;
    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
    ::-webkit-scrollbar-button {
      width: 14px;
      height: 14px;
    }
    ::-webkit-scrollbar-thumb {
      background: #ffffff;
      border: 0px none #ffffff;
      border-radius: 38px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #fffac2;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #fffac2;
    }
    ::-webkit-scrollbar-track {
      background: #fffac2;
      border: 6px none #ffffff;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-track:hover {
      background: #ffff00;
    }
    ::-webkit-scrollbar-track:active {
      background: #fffac2;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }
    img{width: 100%}
    p{
      color: #FFF;
      font-size: 16px;
    }
  }

}
@media screen and (max-width: 1280px) {
  #menu ul a, #menu ul li {
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0;
  }
}

// Mobile
@media screen and (max-width: 767px) {
  
  #xuantriki {
    .xuan-holder {
      display: block;
    }
    .xuan-column {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  #sukien {
    .sukien:nth-child(2) {
      height: 175px;
      p {
        height: 72px;
      }
    }
  }
}
